@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html {
    scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  font-family: 'Varela Round', sans-serif;
  /* padding-top: px; */
}

nav {
    display: block;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.63);
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: none;
    font-display: bold;
    color: white;
}

nav ul li {
    margin-top: 10px;
    display: inline-block;
    padding: 8px 30px;
}

.main h1 {
    text-align: center;
    margin-top: 200px;
    font-size: 80px; 
}

.main p {
    text-align: center; 
    font-size: 50px;
}

/* body {
    background-image: url("IMG_0815.jpeg");
    background-size: cover;
    background-attachment: fixed;   
} */

.about {
    text-align: center;
    padding-top: px;
    margin-top: 180px;
    font-size: 20px;
    background-color: black;
    height: 800px;
    color: white;
}

.circular-image {
    margin: auto;
    /* position: relative; */
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular-image img {
    width: 100%;
    height: auto;
    margin-top: -65px;
  }

  .about img {
      height: 40px;
  }

  .about i{
      margin-left: 120px;
      margin-right: 120px;
      padding-top: 25px;
      padding-left: 10px;
  }

  .cv {
      text-align: center;
      margin-top: 20px;
      height: 700px;
  }

  .projects { 
      margin-top: 70px;  
      text-align: center;
      background-color: black;
      height: 600px;
      color: white;
  }

  .tennis_sec {
      font-size: 20px;
      text-align: center;
      float: left;
      margin-left: 300px;
      border-radius: 12px;
      background-color: white;
      color: black;
      width: 400px;
  }

  .school_sec {
    font-size: 20px;
    text-align: center;
    float: right;
    margin-right: 300px;
    border-radius: 12px;
    background-color: white;
    color: black;
    width: 400px;
  }

  .contact {
      text-align: center;
      font-size: 25px;
      text-decoration: none;
      height: 400px;
    }

  .contact i{
      margin-left: 50px;
      margin-right: 20px;
  }

  footer{
      background-color: white;
      height: 300px;
      text-align: center;
      line-height: 300px;
  }

  footer i{
      padding-left: 50px;
      padding-right: 50px;
  }
